[submodule "cataki-backend"]
	path = cataki-backend
	url = https://github.com/Organizacao-do-mal/cataki-backend.git
[submodule "cataki-frontend"]
	path = cataki-frontend
	url = https://github.com/Organizacao-do-mal/cataki-frontend.git
