[submodule "cataki-backend"]
	path = cataki-backend
	url = https://github.com/Organizacao-do-mal/cataki.git
[submodule "cataki-frontend"]
	path = cataki-frontend
	url = https://github.com/Organizacao-do-mal/cataki.git
